/* Colors */
:root {
    --primary-color: #1D3461;
    --secondary-color: #6290C8;
    --primary-hover-color: #829CBC;
    --primary-text-color: #fff;
    --secondary-text-color: #333;

    --temporary-color: #6290C8;
    --temporary-color-2: #1F487E;
}

/* main and paragraph style */
main {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

#section {
    background: var(--primary-text-color);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#section h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

#section p {
    font-size: 1em;
    line-height: 1.6;
}

#section hr {
    border: 0;
    height: 1px;
    background-color: var(--secondary-text-color);
    margin: 20px 0;
}


/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
}

/* Mobile */
@media screen and (max-width: 767px) {
    
}