/* Colors */
:root {
    --primary-color: #1D3461;
    --secondary-color: #6290C8;
    --primary-hover-color: #829CBC;
    --primary-text-color: #fff;
    --secondary-text-color: #333;

    --temporary-color: #6290C8;
    --temporary-color-2: #1F487E;
}

/* Style main and images */
main {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
}

#gallery {
    margin: auto;
    max-width: 800px;
}

.hidden-heading {
    visibility: hidden;
    position: absolute;
}

#photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 15px;
}

#photos img {
    max-width: 100%;
    height: auto;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

#photos img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#photos p {
    font-size: 0.9em;
    margin-top: 5px;
    font-weight: bold;
}

footer {
    position: absolute;
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
}

/* Mobile */
@media screen and (max-width: 767px) {
    #photos {
        flex-direction: column;
        align-items: center;
    }
}