/* Colors */
:root {
    --primary-color: #1D3461;
    --secondary-color: #6290C8;
    --primary-hover-color: #829CBC;
    --primary-text-color: #fff;
    --secondary-text-color: #333;

    --temporary-color: #6290C8;
    --temporary-color-2: #1F487E;
}


main a[href="stockholmsBloodBath.html"] {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid var(--secondary-text-color);
    border-radius: 8px;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: Arial, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

main a[href="stockholmsBloodBath.html"]:hover {
    background-color: var(--secondary-color); /* Blue background on hover */
    color: var(--primary-text-color); /* White text on hover */
}

footer {
    position: absolute;
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
}

/* Mobile */
@media screen and (max-width: 767px) {
    
}
